<!DOCTYPE html>
<head>
	<title>{% block title %}Tech4Taxes{% endblock %}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	{% if config["VITE_DEV_SERVER"] is not none %}
		<!-- Include the Vite dev server module -->
		<script type="module" src="{{ config['VITE_DEV_SERVER'] }}/@vite/client"></script>
	{% endif %}

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.cdnfonts.com/css/reglo" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/website.css') }} media="screen" />

  {% block posthead %}{% endblock %}

</head>

<body>
<header class="page-header">
<nav class="header-nav">
  <a href="{{ url_for('hello_world') }}" class="nav-link">Home</a>
  <a href="{{ url_for('leg_agenda') }}" class="nav-link">Legislative Agenda</a>
</nav>
<img src={{ url_for('static', filename="assets/images/lb_orange.png") }} alt="Load Balancer Icon" class="logo-icon"><div class="logo-bar"><h1 class="logo-text">TECH 4 TAXES</h1></div></header>

{% block content %}{% endblock %}

</body>
<footer>
Connect with us!

<div style="display: flex; flex-wrap: wrap; align-items: center; font-size: 14px;">
    <a class="foota" href="https://www.tiktok.com/@tech4taxes7" target="_blank" rel="noopener noreferrer">TikTok</a>
    <span style="margin-right: 16px;">|</span>
    <a class="foota" href="https://www.instagram.com/tech4taxes" target="_blank" rel="noopener noreferrer">Instagram</a>
    <span style="margin-right: 16px;">|</span>
    <a class="foota" href="https://www.linkedin.com/company/107836109/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
</div>
</footer>
