<footer>
Connect with us!

<div style="display: flex; flex-wrap: wrap; align-items: center; font-size: 14px;">
    <a class="foota" href="https://www.tiktok.com/@tech4taxes7" target="_blank" rel="noopener noreferrer">TikTok</a>
    <span style="margin-right: 16px;">|</span>
    <a class="foota" href="https://www.instagram.com/tech4taxes" target="_blank" rel="noopener noreferrer">Instagram</a>
    <span style="margin-right: 16px;">|</span>
    <a class="foota" href="https://www.linkedin.com/company/107836109/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
</div>
</footer>
