<head>
	<title>Tech4Taxes</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.cdnfonts.com/css/reglo" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/website.css') }} media="screen" />

</head>

<body>

<div id="headerimage">
	<img src={{ url_for('static', filename='assets/images/tech4taxeslogo.png') }} height=660 width=660>
</div>

<p>
Washington's tax code is upside-down. Washingtonians with a yearly income under $33.5k are paying over 13% of their income in taxes - and those with over $878k in yearly income are paying only 4.1% of theirs. With the current threats from the federal government, more important than ever that we create some truly progressive revenue in Washington state, to close the gap in our state's budget.
In the 2025 legislative session, Big Tech and other mega-corporations lobbied hard against progressive revenue options.
</p>

<h1> Tech workers have a unique opportunity to help. </h1>

<p>
Tech companies don't want to see taxes imposed on mega-corporations or on the mega-wealthy, for obvious reasons. Their lobbyists put up a big stink this year and convinced lawmakers that if we passed progressive revenue, they - and their workers - will up and leave the state.
</p>

<p>
As the actual workforce that provides the labor these corporations rely on, we're here to call them on their BS.
</p>

<h1> 
Share your story.
</h1>

<p>
Show lawmakers that tech workers love Washington State,
and we want to see it thrive. Fill out this quick
<a href="https://docs.google.com/forms/d/e/1FAIpQLSfRvaiKv_T1WviKIbvfPHhnRmF3-Bglnt9aLDPmJPvBUP4Mhg/viewform">
	Interest Form
</a>
or reach out to <a href="mailto:tech4taxes@gmail.com">tech4taxes@gmail.com</a> to see how else you can get involved.
</p>
</body>
