{% extends "base.html.jinja" %}

{% block content %}
<main>
<h1 style="border-bottom: 1px solid #e5e7eb;">
2025-2026 Legislative Agenda</h1>
<p class="longp" style="font-size: 2.5vw;">
For the November 2025 election, and the 2026 Washington State Legislative Session, Tech4Taxes will be focusing our advocacy efforts on the following legislation.

</p>
<h2>I. Progressive Revenue Measures</h2>
<h3>Seattle Shield</h3>
<h3 class="subheading">PRO</h3>
<p class="longp">Type: City of Seattle Ballot Initiative</p>
<p class="longp">
UPDATE: as of November 5th, 2025, the <a href="https://yesseattleshield.com">Seattle Shield initiative</a> has passed at the ballot. Waittago Seattle!

Seattle Shield will restructure Seattle's city Business & Occupation (B&O) tax to be more progressive. This proposal does two things: it increases the exemption threshold, so that businesses making less than $2m in yearly revenue will pay less or no taxes, while increasing the overall tax rate on large corporations, bringing in upwards of $80m in revenue for the city.

</p>
<h3>Wealth Tax (<a href="https://app.leg.wa.gov/BillSummary?BillNumber=5797&Year=2025&Initiative=false">SB5797</a>)</h3>
<h3 class="subheading">PRO</h3>
<p class="longp">Type: Active Bill (Reintroduction in 2026)</p>
<p class="longp">
SB 5797 would enact a 1% tax on financial intangibles, such as stocks, bonds, and assets above a $250m threshold. This tax would only affect the wealthiest in our state, and would bring in billions of dollars of revenue to our state's general fund. This tax would be an efficient way to secure more funding for our state's critical social programs, and would go a long way towards addressing the enormous wealth gap, between our wealthiest and poorest residents.

</p>
<h3>High-Earners Payroll Excise Tax (<a href="https://app.leg.wa.gov/BillSummary?BillNumber=5796&Year=2025&Initiative=false">SB5796</a>)</h3>
<h3 class="subheading">PRO</h3>
<p class="longp">Type: Active Bill (Reintroduction in 2026)</p>
<p class="longp">
This excise tax would be paid by employers on payroll expenses that exceed the current Social Security wage threshold. Essentially, for every employee that makes over $172,000 a year, a corporation would pay a small percentage of that wage in taxes. This would <strong>not impact</strong> the taxes paid by employees. This measure directly targets large companies, and shifts the tax burden for essential services onto the most profitable corporations, rather than low and middle-income workers.

</p>
<h3>ACS Adjustment (Scrap the Cap) (<a href="https://app.leg.wa.gov/BillSummary?BillNumber=1839&Year=2025&Initiative=false">HB1839</a>)</h3>
<h3 class="subheading">PRO</h3>
<p class="longp">Type: Active Bill (Reintroduction in 2026)</p>
<p class="longp">
This bill aims to increase investments in our workforce by amending the Advanced Computing Surcharge (ACS). Specifically, we advocate to Scrap the Cap on the ACS, ensuring that the largest mega-corporations in the tech sector pay their maximum due. This prevents a preferential ceiling from artificially limiting contributions to vital state programs.

</p>
<h3>Land Value Tax Pilot Program</h3>
<h3 class="subheading">PRO</h3>
<p class="longp">Type: Policy Area (New Legislation)</p>
<p class="longp">
We support legislation allowing counties to levy a Land Value Tax (LVT) in lieu of traditional property taxes. An LVT taxes the unimproved value of land, incentivizing efficient use of urban land and shifting the tax burden away from improvements (like housing and commercial buildings), which can help combat housing speculation and density issues. Our research indicates that a Land Value Tax would benefit property tax rates for the middle and lower class in both rural and suburban areas.

</p>
<h3>Data Center B&O Tax Exemption Removal</h3>
<h3 class="subheading">PRO</h3>
<p class="longp">Type: Policy Area (Repeal of Exemption)</p>
<p class="longp">
The tax break for data centers, which includes exemptions from B&O and Sales/Use taxes, must be removed. As documented by reports like the one in <a href="https://www.propublica.org/article/washington-data-centers-tech-jobs-tax-break" ">ProPublica</a>, these exemptions are costly corporate giveaways that fail to deliver the promised economic benefits or significant job creation. Closing this loophole would potentially generate hundreds of millions of dollars for the state's general fund, which would go directly towards funding social services, and closing our state's looming budget gap.

</p>
<h3>B&O Tax Overhaul & Simplification (<a href="https://app.leg.wa.gov/billsummary/?BillNumber=5482&Year=2023&Initiative=false">Modeled on SB 5482</a>)</h3>
<h3 class="subheading">PRO</h3>
<p class="longp">Type: Policy Area (Modeled on Prior Legislation)</p>
<p class="longp">
Our State Business & Occupations (B&O) tax is a mess. Due to decades of corporate lobbying, our tax code is riddled with exemptions and credits—many of which may no longer make sense. This complication leads to massive disparities; for example, in 2025Q1, Dentists paid on average 1.7% of their gross revenue into the B&O tax, whereas the Aircraft, Aerospace Manufacturing industry paid only 0.25%. In an ideal world, our state would eliminate the B&O tax in favor of a progressive corporate income tax. In lieu of that, in the short term, our coalition recommends an overhaul of the B&O tax, eliminating the complex exemption and credits system in favor of something simpler—and more fair—such as previous legislation like SB 5482.

</p>
<h2>II. Strategic Caution: A Progressive State Income Tax</h2>
<h3>Statewide Income Tax</h3>
<h3 class="subheading" style="color: #fcba03;">OTHER</h3>
<p class="longp">Type: Policy Area (Opposition to Immediate Implementation)</p>
<p class="longp">
Although our coalition believes that the long-term, necessary, solution to Washington's regressive tax code would be to instate a well-thought-out, progressive state income tax, we do not believe that the 2026 session is the right time to implement it. A state income tax should <strong>NOT</strong> be implemented without a comprehensive overhaul of the tax code. A rushed, poorly organized, creation of a state income tax, without other simultaneous changes such as the elimination of sales and sin taxes, a restructuring of property taxes, and a replacement for the state B&O tax, would simply <strong>increase the total tax burden on regular Washingtonians</strong>. We believe that to implement a statewide income tax during this legislative session would be short-sighted, damaging to the progressive cause, and would be repealed by voters quickly at the ballot.

</p>

<p class="longp" style="font-size: 2.5vw;">
Interested in helping us accomplish these goals? Fill out our <a href="https://forms.gle/Zupd2eSdfyTXtki26">Interest Form</a> to join the coalition, or learn more by following our social medias below!

</p>
</main>
{% endblock %}
