<head>
	<title>Legislative Agenda</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<link href="https://fonts.cdnfonts.com/css/reglo" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='styles/website.css') }} media="screen" />
</head>
<body>
<header class="page-header"><img src={{ url_for('static', filename="assets/images/lb_orange.png") }} alt="Load Balancer Icon" class="logo-icon"><div class="logo-bar"><h1 class="logo-text">TECH 4 TAXES</h1></div></header>
<main>
<h1>
2025-2026 Legislative Agenda</h1>
<p>For the November 2025 election, and the 2026 Washington State Legislative Session, Tech4Taxes will be focusing our advocacy efforts on the following legislation.

</p>
<h2>Seattle Shield</h2><p class="longp">Position: PRO
Type: City of Seattle Ballot Initiative
Blah Blah

</p>
</main>
</body>
<footer>
Connect with us!

<div style="display: flex; flex-wrap: wrap; align-items: center; font-size: 14px;">
    <a class="foota" href="https://www.tiktok.com/@tech4taxes7" target="_blank" rel="noopener noreferrer">TikTok</a>
    <span style="margin-right: 16px;">|</span>
    <a class="foota" href="https://www.instagram.com/tech4taxes" target="_blank" rel="noopener noreferrer">Instagram</a>
    <span style="margin-right: 16px;">|</span>
    <a class="foota" href="https://www.linkedin.com/company/107836109/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
</div>
</footer>
