<header class="page-header"><img src={{ url_for('static', filename="assets/images/lb_orange.webp") }} alt="Load Balancer Icon" class="logo-icon"><div class="logo-bar"><h1 class="logo-text">TECH 4 TAXES</h1></div></header>
