#headerimage {
  width:100%;
  display: flex;
  justify-content: center;
}



body {
  font-family: "Work Sans";
  font-style: normal;
  font-variant: unset;
  text-transform: none;
  white-space: pre-wrap;
  text-wrap-mode: wrap;
  white-space-collapse: preserve;
  overflow-wrap: break-word;
  margin: 0 7% 10%;
}

p {
  font-size: 3.5vw;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  color: rgba(27, 27, 27, 1);
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Reglo";
  color: rgb(255, 87, 34);
  letter-spacing: 0px;
  word-spacing: 0px;
  font-size: 7vw;
  line-height: 2;
  margin: 0;
}
@media screen and (min-width: 1024px) {
  body {
    text-align: center;
  }
  p {
    font-size: 1.5vw;
    line-height: 2;
  }

  h1 {
      font-size: 4vw;
      line-height: 1.5;
  }
}
